{% ckan_extends %}

{% block header_logo %}
    {% if g.site_logo %}
        <a class="logo" href="/"><img src="https://www.auroral.eu/img/logos/AURORAL-Horizontal_o.png" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
    {% else %}
        <h1>
        <a href="/">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
    {% endif %}
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {% block auroral_navigation_tabs %}
          {{ h.build_nav_main(
            ('search', _('Datasets')),
            ('organizations_index', _('Organizations')),
            ('group_index', _('Domains'))
          ) }}
          <li>
            <a href="/wiki">How to</a> <!-- Enlace a la nueva página -->
          </li>
          <li>
            <a href="https://www.auroral.eu/#/p-about" target="_blank">About AURORAL</a>
          </li>

            <!-- Login -->
            <!--
            {% block auroral_custom_login %}
            {% if c.userobj %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  <i class="fa fa-user"></i>
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
              </li>
              <li>
                <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  <span class="text">{{ _('Log out') }}</span>
                </a>
              </li>
            {% else %}
               <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
               
               <li>{% link_for _('Register'), controller='user', action='register' %}</li>
               
            {% endif %}
          {% endblock %}
          -->
        {% endblock %}
      {% endblock %}
    </ul>
  </nav>

{% endblock %}