{% ckan_extends %}

{% block header_logo %}
    {% if g.site_logo %}
        <a class="logo" href="https://www.auroral.eu/#/"><img src="https://www.auroral.eu/img/logos/AURORAL-Horizontal_o.png" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
    {% else %}
        <h1>
        <a href="https://www.auroral.eu/#/">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
    {% endif %}
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {% block auroral_navigation_tabs %}
          {{ h.build_nav_main(
            ('search', _('Datasets')),
            ('organizations_index', _('Organizations')),
            ('group_index', _('Domains'))
          ) }}
          <li>
            <a href="https://www.auroral.eu/#/p-about" target="_blank">About AURORAL</a>
          </li>
        {% endblock %}
      {% endblock %}
    </ul>
  </nav>
{% endblock %}