.masthead {
    background: none;
    padding-bottom: 1%;
}

.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: #1e5253;
    text-shadow: none;
    position: relative;
    display: block;
    padding: 5px 20px;
    font-size: 20px;
  }

.account-masthead {
    background: none;
}

.account-masthead .account ul li {
    border-left: none;
}

.hero {
    background: none;
    text-align: center;
}

.hero h1 {
    color: #348c8d;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 400;
    font-size: 40pt;
    letter-spacing: 0.3em;
}

.hero-main {
   
    padding-bottom: 40%;
    height: 10%;
}

.btn-space {
    margin-right: 25px;
}

.auroral-desc {
    background: #ffffff;
}

.auroral-main {
    padding-top: 5%;
    padding-bottom: 5%;
}

.auroral-gray-text {
    padding-top: 25px;
    padding-bottom: 10%;
    color: #9d9d9d;
    font-size: 15pt;
}

.auroral-green-text {
    color: #1e5253;
    padding-top: 25px;
    font-size: 15pt;
}

.auroral-main h1 {
    color: #348c8d;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30pt;
    letter-spacing: 0em;
}

.container {
    width: 80%;
  }

.btn-main-container {
    padding-top: 2%;
}

body {
    background: url(/auroral_background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 14pt;
    line-height: 1.6;
    width: 100%;
    background-position-y: 80px;
}

.head-content {

    min-height: 100%;
    margin-bottom: -125px;
    width: 100%;
}

html,body{
    height: 100%;
    margin: 0;
}

masthead .logo img {
    max-height: 80px;
  }

button{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 14pt;
}

@media (min-width: 1768px) {
    [role=main],
    .main {
      min-height: 1500px;
      background: #ffffff;
    }
  }

.site-footer {
    background: #348c8d;
    color: #ffffff;
    max-height: 100%;
    min-height: 40px;
    padding: 20px 0;
}



.site-footer, .site-footer label, .site-footer small,
.site-footer a {
    color: #ffffff;
}


.btn-primary {
    color: #348c8d;
    background-color: #348c8d;
    border-color: #348c8d;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 41px;
    line-height: 1.1;
    letter-spacing: 0.078em;
    font-weight: 0;
    font-style: normal;
    border-radius: 10px;
    background-color: transparent;
}



 