{% ckan_extends %}


{% block primary_content %}
<div class="hero">
    <div class="hero-main">
        <div class="container">
            <h1>H2020 AURORAL </h1>
        </div>
        <div class="container btn-main-container">
            <a class="btn btn-primary btn-main" type="button" href="/dataset">DATASETS</a>
        </div>
    </div>
</div>
<div class="hero auroral-desc">
    <div class="hero-main auroral-main">
        <div class="container">
            <h1>H2020-AURORAL</h1>
            <p class="auroral-green-text">
                Architecture for Unified Regional and Open digital ecosystems for Smart Communities and Rural Areas Large scale application. <br> You can find more information at <a href="https://www.auroral.eu/#/">AURORAL website</a><br/>.
            </p>
            <p class="auroral-gray-text">
                In the AURORAL Data Catalogue you can find the data samples provided by AURORAL regions and
                Stakeholders. 
            </p>
        </div>
    </div>
</div>
{% endblock %}
